<div class="page-container">
    <div class="left-item scrollbar">
      <div class="logo-panel">
        <a href="http://www.saga-gis.org/en/index.html" target="_blank">
          <img src="assets/images/model/logo_saga.png" style="width: 150px;height: 150px" />
          <img src="assets/images/logo/saga_detail.png" style="margin: 0;width: 90%" alt="">
        </a>
        <h2>SAGA</h2>
      </div>
      <div class="navbar-panel">
        <ul class="navigation">
          <!--Theme Info-->
          <li>
            <a routerLink="/theme-info" id="themeInfo">
              <i class="fa fa-info-circle fa-fw"></i>
              <span>Theme info</span>
            </a>
          </li>
  
          <!--Models-->
          <li>
            <a [routerLink]="['/models-info','json/modelInfo/climate_tools.json']"  id="models" (click)="showModuleTree()">
              <i class="fa fa-th-large fa-fw"></i>
              <span>Models</span>
            </a>
            <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree" id="module_tree">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node" title={{node.type}}>
                  <button mat-icon-button disabled ></button>
                  <a [routerLink]="['/models-info',node.type]">{{node.filename}}</a>
                </li>
              </mat-tree-node>
            
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                <li>
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.filename">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{node.filename}}
                  </div>
                  <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
          </li>
          <!--data-->
          <li style="display: none">
            <a href="javascript:void(0)" id="datas" (click)="showDataList()">
              <i class="fa fa-database fa-fw"></i>
              <span>Data</span>
            </a>
  
            <ul class="subNavbar" id="dataContainer">
              <li >
                <a href="javascript:void(0)">Grid</a>
              </li>
              <li >
                <a href="javascript:void(0)">Grid List</a>
              </li>
              <li>
                <a href="javascript:void(0)" >Shapes</a>
              </li>
              <li>
                <a href="javascript:void(0)">Shapes List</a>
              </li>
            </ul>
          </li>
  
          <!--Applications-->
          <li>
            <a [routerLink]="['/saga-tools']" id="apps">
              <i class="fa fa-cubes fa-fw"></i>
              <span>Applications</span>
            </a>
            <ul class="subNavbar" id="application_container">
            </ul>
          </li>
  
        </ul>
      </div>
    </div>
    <div class="right-item" id="right-item">
        <router-outlet></router-outlet>
    </div>
  </div>
  