<div class="data_list_container" [style.height]="userDataContainerHeight.toString()+'px'">
  <div class="btn_container">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle checked value="list">
        <i class="material-icons">
          view_list
        </i>
      </mat-button-toggle>
      <mat-button-toggle value="grid">
        <i class="material-icons">
          view_module
        </i>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div [style.height]="dataListHeight.toString()+'px'" *ngIf="group.value=='list' else grid">
    <div class="list_item_container scrollbar" *ngFor="let item of userDatas">
      <div class="img">
        <i *ngIf="true" class="material-icons">gradient</i>
        <i *ngIf="false" class="material-icons">format_shapes</i>
      </div>
      <div class="name" title="{{item.fileName}}">
        {{item.fileName}}
      </div>
      <div class="time">
        {{item.createDate | date:'yyyy-MM-dd'}}
      </div>
      <div class="type">
        type: {{item.type}}
      </div>
      <div class="tags">
        <span *ngFor="let itemTags of item.tags">{{itemTags}}</span>
      </div>
      <div class="showData">
        <button mat-stroked-button class="btn_show">
          show
        </button>
      </div>
    </div>
  </div>

</div>


<ng-template #grid let-item='userDatas'>
    <div class="grid_item_container scrollbar">
      <div class="grid" *ngFor="let item of userDatas">
        <img src="/src/assets/images/common/grid.jpeg" alt="">
        <span title="{{item.fileName}}">{{item.fileName}}</span>
      </div>
    </div>
</ng-template>
