<div class="scrollbar right_tab" [style.height]="LayersListHeight.toString()+'px'"
  *ngIf="toolInfo &&tag=='des' else data">
  <button class="closeRight" (click)="rightSideToogle()">
    <i *ngIf="opened; else left" class="fa fa-chevron-right" aria-hidden="true"></i>
    <ng-template #left>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </ng-template>
  </button>

  <mat-tab-group (selectedIndexChange)="onTabChanged($event)">
    <mat-tab label="Description">
      <div class="scrollbar tool_description" [style.height]="toolDesHeight.toString()+'px'"
        [innerHTML]="descriptionHtml"></div>
    </mat-tab>
    <mat-tab label="Settings">
      <app-tool-setting [toolInfo]="this.toolInfo"></app-tool-setting>
    </mat-tab>
  </mat-tab-group>

  <!-- <nz-tabset class="col" (nzSelectChange)="onTabChanged($event)" [nzAnimated]="false" [nzTabPosition]="bottom">
    <nz-tab [nzTitle]="TabItems[0]" [nzForceRender]="true">
      <iframe id="ifr_des" [src]="truest(descriptionPath)" style="width: 100%;transform: scale(0.9)"
        frameborder="0"></iframe>
      <div class="scrollbar tool_description" [style.height]="toolDesHeight.toString()+'px'" [innerHTML]="descriptionHtml"></div>
    </nz-tab>

    <nz-tab [nzTitle]="TabItems[1]" class="tool_settings" [nzForceRender]="true">
      <app-tool-setting [toolInfo]="this.toolInfo"></app-tool-setting>
    </nz-tab>
  </nz-tabset> -->
</div>

<ng-template #data>
  <div class="scrollbar mb_0 ml_30 mr_25 bg_color w_350 max_w" [style.height]="LayersListHeight.toString()+'px'">
    <button class="closeRight" (click)="rightSideToogle()">
      <i *ngIf="opened; else left" class="fa fa-chevron-right" aria-hidden="true"></i>
      <ng-template #left>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </ng-template>
    </button>

    <div class="user_data_title">
      <label class="upload-button" (click)="openMyDialog()">
        <!-- <input type="file" ngFileSelect #fileInput (uploadOutput)="onUploadOutput($event,fileInput)" (beforeUpload)='beforeFileUpload($event)'> -->
        <i class="fa fa-plus upload-tag" aria-hidden="true"></i>
        <span>File Upload</span>
      </label>
    </div>

    <share-data-list [newData]="newData"></share-data-list>
  </div>
</ng-template>