<div class="scrollbar right_tab" [style.height]="LayersListHeight.toString()+'px'">
  <button class="closeRight" (click)="rightSideToogle()">
    <i *ngIf="opened; else left" class="fa fa-chevron-right" aria-hidden="true"></i>
    <ng-template #left>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </ng-template>
  </button>
      <div class="user_data_title">
        <label class="upload-button" (click)="openMyDialog()">
          <!-- <input type="file" ngFileSelect #fileInput (uploadOutput)="onUploadOutput($event,fileInput)" (beforeUpload)='beforeFileUpload($event)'> -->
          <i class="fa fa-plus upload-tag" aria-hidden="true"></i>
          <span>File Upload</span>
        </label>
      </div>
      <share-data-list [newData]="newData"></share-data-list>
</div>