<div>
  <app-tool-bar ></app-tool-bar>

  <ng-sidebar-container class="example-container"  [style.height]="LayersListHeight.toString()+'px'">

    <ng-sidebar #drawer [(opened)]="leftOpened" mode="over" [dock]="true"  [dockedSize]="'40px'">
      <app-left-tab (leftOpenState)="openStateHandler($event)"></app-left-tab>
    </ng-sidebar>

    <ng-sidebar #drawerEnd [(opened)]="rightOpened"  mode="over" position="end" style="z-index:1000">
      <app-right-tab [opened]="rightOpened" [tag] = "right_tag"></app-right-tab>
    </ng-sidebar>



    <div ng-sidebar-content style="padding:0px; height: 100%;">
      <app-right-bar (rightTabToggle)="right_tab_toggle($event)"></app-right-bar>

      <app-ol-map></app-ol-map>
    </div>
  </ng-sidebar-container>

  <div>
    <app-footer></app-footer>
  </div>
</div>
