
.modal-title{
    text-align: left;
}
.modal-content {
    border-radius: 0px;
    border: none;
}

.modal-body{
    height: 400px;
    max-height: 500px;
    overflow-y: hidden;
}

.tools-tree{
    text-align: left;
    height: 370px;
    max-height: 370px;
    width:300px;
    min-width:300px;
    overflow:auto;
    padding: 5px 20px 5px 5px ;
    box-shadow: 0px 2px 2px #777;
}

.modal-dialog{
    margin-top:5%;
   min-width:750px;
}
.context-menu{
    box-shadow: 4px 4px 4px #777;
    padding: 5px 5px 5px 5px ;
    position: fixed;
    background-color: #f8f8f8;
    border-radius: 3px;
    opacity:0 ;
    z-index: -1;
}

.context-menu.show{
    opacity:1 ;
   
    z-index: 9999;
}

.context-menu ul{
    padding: 10px 20px 20px 5px ;
    text-align: left;
    list-style: none;
}
.context-menu ul li{
    padding: 5px 5px 5px 5px ;
}
.tools-tree>>>.tree-node,.tools-tree>>>.tree-leaf{
    color:#5f7387;
}