.toolsbar {
    /* margin:0px -15px; */
    padding: 6px 0px 6px 0px;
    background: #6eace6;
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.toolsbar .tools-group {
    display: inline-block;
    margin-left: 20px;
    border-left: 4px #F7F8F1 double;
    padding: 2px 2px 2px 2px;
    line-height: 2;
}

.toolsbar>>>span i {
    font-size: 28px!important;
    color: #F7F8F1;
}

.toolsbar .tools-group span {
    margin-left: 10px;
    display: inline-block;
    line-height: 2;
    padding: 0px 4px;
}

.tools-group span>>>i:hover {
    cursor: pointer;
}

.tools-group>>>span.selected {
    background: #F7F8F1;

}

.tools-group span.selected>>>i {
    color: #5F7387!important;
}