<div class="attr_container">
  <h3>Attributes Table</h3>
  <div class="scrollbar table_container">
      <table mat-table [dataSource]="fieldValues" class="mat-elevation-z8">
          <ng-container *ngFor="let column of fieldArray" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="fieldArray"></tr>
          <tr mat-row *matRowDef="let row; columns: fieldArray;"></tr>
        </table>
  </div>

  <button class="btn btn-success" (click)="onCancelClick($event)">close</button>
</div>