div>>>.datatable-header{
    width: auto!important;
}
div>>>.datatable-body{
    width: auto!important;
}

.attr_container{
    position: fixed;
    top: 20%;
    left: 30%;
    background: #fff;
    text-align: center;
    padding: 10px;;
}

.table_container{
    width: 500px;
    height: 350px;
    overflow: auto;
}