<div class="app_container">
  <a class="example-card" [routerLink]="['/saga-tools']">
    <div (click)="goTools()" class="img">
      <img src="../../../assets/images/common/grassland1.jpeg" alt="Photo of a Shiba Inu">
    </div>
    <div class="application-name">
        <h4>Saga Tools</h4>
    </div>
  </a>

  <div class="example-card">
      <div class="img">
        <img src="../../../assets/images/model/thumb.png" alt="Photo of a Shiba Inu">
      </div>
  
      <div class="application-name">
          <h4>Saga Model Integration</h4>
      </div>
    </div> 
</div>
