

.modal-title{
    text-align: left;
}
.modal-content {
    border-radius: 0px;
    border: none;
}
.modal-body{
    height: 300px;
    max-height: 400px;
    overflow-y: auto;
}
.modal-dialog{
    top:140px;
    left:0px;
 }

.show-modal{
    display: block!important;
}
.hide-modal{
    display: none;
}

.tools-tree{
    float: left;
    text-align: left;
}

.btn-back{
    float: left;
}
button{
    min-width: 57px;
}
.tools-tree>>>.node-selected .node-name{
   text-shadow: 4px 4px 4px #777;
}
.tools-tree>>>.tree-node,.tools-tree>>>.tree-leaf{
    color:#5f7387;
}
.tool-btn{
    font-size: 20px;
}
