.data_list_container {
    overflow: overlay;
}

.btn_container {
  margin-bottom: 20px;
}

.list_item_container {
  display: grid;
  grid-template-columns: 80px 200px 100px;
  grid-template-rows: 30px 20px 20px;
  margin-left: 10px;
  margin-top: 5px;
  border-bottom: 1px solid #ddd;
  grid-gap: 5px;
}

.img {
  grid-row: 1/4;
  align-self: end;
  justify-self: center;
}

.img i {
  font-size: 76px;
}

.name {
  grid-column: 2/3;
  align-self: center;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  grid-column: 3/4;
  align-self: center;
  font-size: 16px;
}

.type {
  grid-column: 2/3;
  grid-row: 2/3;
}

.tags {
  grid-column: 2/3;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags span {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}

.showData {
  grid-column: 3/4;
  grid-row: 2/3;
}


.grid_item_container {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 80px 80px 80px 80px 80px;
  grid-gap: 20px;
  justify-content: center;
}

.grid {
  text-align: center;
  // justify-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.grid img {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid span{
    font-size: 14px;
}


.list_item_room {
  width: 300px;
  height: 75px;
  border-bottom: 1px solid #ddd;
  display: flex;
  margin-left: 10px;
}

.left_img {
  flex: 0 0 20%;
  margin: 5px;
  text-align: center;
}

.shp_img{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

.left_img>img {
  width: 45px;
  height: 45px;
  display: inline-block;
}

.right_content {
  flex: 0 0 80%;
  overflow: hidden;
}

.item_top {
  height: 30px;
  display: flex;
  align-items: center;

  >.item_name {
    flex: 0 0 70%;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  >.item_time {
    flex: 0 0 30%;
  }
}


.item_middle {
  height: 20px;
  color: #9a9a9a;
  font-size: 14px;
}

.item_bottom {
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 5px;

  >.item_tags {
    flex: 0 0 70%;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom:10px;
    >span {
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 5px;
      padding: 1px;
      font-size: 12px;
    }
  }

  >.btn_show {

    flex: 0 0 30%;
    height: 35px;
    text-align: center;
    >img {
      width: 25px;
    }
  }
}

.cover {
    height: 0;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    position: absolute;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 0;
    border-radius: 10px;
  }
  
  .cover>img{
    width: 0px;
  }

  .grid:hover .cover {
    height: 80px;
    width: 90px;
    // vertical-align: middle;
    font-size: 14px;
    text-align: center;
    >img{
        width: 25px;
        height: 25px;
    }
    transition: all 0.7s ease 0s;
  }

  mat-paginator{
    margin-right: 10px;
  }

  .loading{
    flex: 0 0 30%;
    height: 35px;
    text-align: center;
    >img{
        width:30px;
        margin-top: -10px;
    }
}