/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/_theming.scss';

/*#################################SAGA_MODEL#############################*/
@include mat-core();
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

.mat-horizontal-stepper-header-container {
    margin-bottom: 20px !important;
}

mat-button-toggle {
    display: flex;
    button {
        flex: 1;
    }
}

mat-icon {
    vertical-align: middle;
}


.pop-menu-item.selected {
    font-weight: 600;
    background: rgba(0, 0, 0, 0.04)
}



html, body {
    background: #f5f5f5;
}

.bg-grey {
    background: #f5f5f5 !important;
}

.banner {
    background: #dce2eb;
}
container-fluid
.banner-wrapper {
    height: 480px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    position: relative;
}

.banner-wrapper .banner-title-wrapper {
    width: 40%;
    max-width: 580px;
    height: 245px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8%;
    margin: auto;
    z-index: 1
}

.banner-wrapper .banner-title-wrapper > * {
    will-change: transform
}

.banner-wrapper .banner-title-wrapper .title-line {
    -webkit-transform: translateX(-64px);
    -ms-transform: translateX(-64px);
    transform: translateX(-64px);
    -webkit-animation: bannerTitleLine 3s ease-in-out 0s infinite;
    animation: bannerTitleLine 3s ease-in-out 0s infinite
}

.title-line-wrapper {
    height: 2px;
    width: 100%;
    overflow: hidden
}

.title-line-wrapper .title-line {
    height: 100%;
    width: 64px;
    -webkit-transform: translateX(-64px);
    -ms-transform: translateX(-64px);
    transform: translateX(-64px);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(24, 144, 255, 0)), to(#1890ff));
    background: -webkit-linear-gradient(left, rgba(24, 144, 255, 0), #1890ff);
    background: linear-gradient(90deg, rgba(24, 144, 255, 0) 0, #1890ff)
}

.banner-wrapper .banner-title-wrapper h1 {
    font-family: Futura, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 54px;
    margin: 12px 0
}

.banner-wrapper .banner-title-wrapper p {
    font-size: 20px
}

.banner-wrapper .banner-image-wrapper {
    width: 45%;
    max-width: 598px;
    height: 324px;
    position: absolute;
    right: 8%;
    margin: auto;
    top: 0;
    bottom: 0;
}

.banner-wrapper .banner-image-wrapper img {
    width: 100%;
    height: 100%;
}

.nav-wrapper {
    background: #f5f6f9;
}

.nav-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #e5e5e5;
}

.nav-wrapper a {
    position: relative;
    padding: 20px;
    display: block;
    color: #333;
    text-decoration: none;
}

.nav-wrapper a:hover {
    color: #1890ff;
    cursor: pointer;
}

.logoPanel > a >img {
    width: 60%;
    margin: 30px 0 20px;
}

.logoPanel >a > h2 {
    margin: 0 0 0 0;
}

.navbarPanel {
    /*border-bottom: #ddd 1px solid;*/
    padding: 50px 0 10px;
}

.navbarPanel .navigation {
    padding: 0;
}

.navbarPanel .navigation>li {
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
}

.navbarPanel .navigation li a {
    color: #333;
    text-decoration: none;
}

.navbarPanel .navigation li a:hover {
    color: #1890ff;
}

.navbarPanel .navigation li .arrow {
    font-size: 14px;
    margin-top: 4px;
}

.navbarPanel .navigation li .subNavbar {
    padding-left: 24px;
}

.navbarPanel .navigation li .subNavbar li {
    margin: 10px 0 0 20px;
}

.info {
    padding-top: 30px;
    position: relative;
}

.info .row {
    margin-bottom: 15px;
    margin-left: 50px;
    /*display: none;*/
}

.info p {
    font-size: 16px;
    text-indent: 2em;
}

.info ul {
    list-style: circle;
}

.infoPanel {
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    /*border-left: 1px solid #dddddd;*/
    display: none;
    min-width: 700px;
}

.infoPanel:first-child {
    display: block;
}

.infoPanel > .row {
    max-width: 1500px;
    margin: auto;
}

.infoPanel .title span {
    padding: 5px 0;
    border-bottom: 2px solid #1890ff;
}

.infoPanel .expand {
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
}

.infoPanel .expand a {
    line-height: 25px;
    font-size: 16px;
    text-decoration: none;
    color: #333333;
}

.infoPanel .expand a:hover {
    color: #108CEE;
    cursor: pointer;
}

.group {
    width: 100%;
    background: #FFF;
    border: 1px solid #E9E9E9;
}

.group .sidebar {
    width: 200px;
    float: left;
    margin-top: 5px;
}

.group .sidebar ul {
    list-style: none;
}

.group .sidebar .sidebar-item {
    line-height: 30px;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    cursor: pointer;
}

.group .sidebar .sidebar-item.active, .group .sidebar .sidebar-item:hover {
    color: #108CEE;
    position: relative;
}

.group .sidebar .sidebar-item.active:after {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    background: #108CEE;
    margin: auto;
}

.group .contentBox {
    margin-left: 210px;
    padding: 35px 35px 55px 35px;
    border-left: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group .contentBox .row {
    display: none;
    padding-bottom: 20px;
}

.group .contentBox .row:last-child {
    padding-bottom: 0;
}

.group .contentBox .row:first-child {
    display: block;
}

.group .contentBox .row:nth-child(2) {
    display: block;
    padding-bottom: 0;
}

.info .contentItem {
    border: 1px solid #E9E9E9;
    height: 132px;
    padding: 15px;
    background: #FFFFFF;
}

.info .contentItem .leftBox {
    min-height: 50px;
}

.info .contentItem .leftBox h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info .contentItem .leftBox h4 .hot {
    font-size: 12px;
    background: #D0021B;
    color: #FFF;
    display: inline-block;
    padding: 3px 5px;
    line-height: 12px;
    position: relative;
    top: 0;
}

.info .contentItem .computablePanel a {
    color: #108CEE;
    text-decoration: none;
}

.info .contentItem .rightBox {
    position: relative;
}

.info .contentItem .rightBox .timeBox {
    line-height: 40px;
    font-size: 14px;
    text-align: left;
}

.info .contentItem .rightBox .btn {
    float: right;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

.modelContentPanel {
    display: none;
}

.modelContentPanel.active {
    display: block;
}

.modelThumbnail {
    padding: 0px 10px 0;
    background: #ffffff;
    position: relative;
}

.modelThumbnail .picPanel img {
    width: 100%;
}

.modelThumbnail .picPanel img:hover {

}

.modelThumbnail .modelDetail {
    display: none;
}

.modelThumbnail .modelNav {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.modelThumbnail .modelNav .pull-left a {
    color: #333333;
}

.modelThumbnail .modelNav .pull-left a:hover {
    color: #108CEE;
}

.modelThumbnail .modelNav .pull-right {
    width: 50%;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.modelThumbnailTitle {
    padding: 10px 10px 2px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.modelThumbnailTitle p {
    color: #555;
    font-size: 14px;
    margin: 0;
    text-indent: 0;
}

@-webkit-keyframes bannerTitleLine {
    0%, 25% {
        -webkit-transform: translateX(-64px);
        transform: translateX(-64px)
    }

    75%, to {
        -webkit-transform: translateX(544px);
        transform: translateX(544px)
    }
}

@keyframes bannerTitleLine {
    0%, 25% {
        -webkit-transform: translateX(-64px);
        transform: translateX(-64px)
    }

    75%, to {
        -webkit-transform: translateX(600px);
        transform: translateX(600px)
    }
}

.subNavbar li a {
    font-size: 14px;
}

.subNavbar {
    list-style: square;
}

.model_name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*######################RIGHT_PANEL######################*/
.nav_img {
    height: 25px;
    float: left;
    margin-right: 15px
}

.panel-heading.custom-tab {
    padding: 8px 15px;
}

.custom-tab {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: none;
}

/*.panel-heading .nav{*/
/*border: medium none;*/
/*font-size: 13px;*/
/*margin: -15px -15px -15px;*/
/*}*/

.panel-heading {
    padding: 15px;
    color: #535351;
    font-size: 14px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #337ab7;
    cursor: default;
    background-color: #dadada;
    border: none;
}

/*li.active>a>span{*/
/*border-bottom: 2px solid #337ab7;*/
/*}*/

.pub-and-news-a a:active, a:link, a:visited {
    text-decoration: none;
    color: #000;
}

.nav-tabs > li > a {
    margin-right: 0px;
}

.nav-tabs {
    border-bottom: none;
}

.us-title1 b {
    border-bottom: 2px solid #ff9600;
    color: black;
    display: inline-block;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    height: 35px;

}

.us-title1 {
    font-weight: 400;
    width: 100%;
    text-align: center;
    top: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reference p {
    font-family: "Times New Roman", serif;
}

#table_settings tr td, #table_settings tr th {
    padding: 5px;
}

#tree .list-group > li {
    font-size: 14px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
}

#tree .list-group >li:hover{
    color: #337ab7;
}

.left_item{
    padding-left: 5px;
    padding-right: 7px;
    width: 280px;
    flex-shrink: 0;
    border-right: 1px solid #dddddd;
}

.right_item{
    width: 100%;
}


.viewBtn{
    display: inline-block;
    -webkit-animation-name: flash;
    animation-name: flash
}

#img_room{
    position: fixed;
    left: 40%;
    width: 600px;
    background-color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

html,body{
    height: 100%;
}

.wrapper-margin{
    margin: 10px 15px;
}


/* You can add global styles to this file, and also import other style files */

/** 顶掉 ant design 中的字体设置 **/
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #333;
}

/** 为了让 ant design 中的tool-tip 能在bootstrap的模态框中不被遮挡 **/
.modal{
    z-index: 2;
}
/** nz-zorro mask 透明度**/
.ant-modal-mask{
    background-color: rgba(55, 55, 55, 0.1)!important;
}
.modal-backdrop{
    z-index: 1;
}

button {
    outline: none!important;
}

ul {
    list-style: none;
    padding: 2px 4px 3px 4px;
}

ul li {
    text-align: left;
    white-space: nowrap;
    position: relative;
}


/* button[title="Attributions"] {
    display: none;
} */

.ol-zoom {
    display: none;
}

.ol-attribution {
    display: none;
}

.logo {
   float: left;
    background: url(assets/images/logo.png) no-repeat scroll left center;
    background-size: auto 20px;
    padding: 0px 40px;
    height:19px;
    width: 80px;
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #666666;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    not supported by any browser */
    }

body{
   color:#444444;
}
.upload-button input{
    display: none;
}