#table_settings{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    // overflow: auto;
}

.table_container{
    overflow: auto;
    // margin-right: 20px;
    // max-height: 500px;
}

#options_body td{
    min-width: 80px;
}

.not_ready{
    color: red;
}

.on_uploading{
    color:#ff3100a3;
}

.ready{
    color: green;
}

.btn_select{
    width: 100px;
    height: 35px;
}