<div class="input-group mt-10">
  <input type="text" readonly class="form-control zindex_1" [value]="layerItem?layerItem.name:''" >
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle mb-30" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right mt--30">
      <li class="list-item-for-selection" *ngFor="let layer of layerItems" (click)="onInputItemSelected(layer)">{{layer.name}}</li>
    </ul>
  </div>
  <!-- /input-group -->
  <label class="upload-button">
    <input type="file" ngFileSelect accept="application/zip" (uploadOutput)="onUploadOutput($event)"> 
    <span class="btn btn-default" style="margin-bottom:25px"> file</span>
  </label>
</div>
